@import 'config';


/* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

.main {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo {
    width: 200px;
    float: left;
    height: 70px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 40px;
}

.nav-bar {
    flex: 1;
    text-align: right;
    ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
        a {
            text-decoration: none;
            color: #031332;
            font-size: 13px;
            font-family: $font-family;
        }
        &::after {
            content: '';
            width: 0%;
            height: 2px;
            background: #031332;
            display: block;
            margin: auto;
            transition: 0.3s;
        }
        &:hover::after {
            width: 100%;
        }
    }
}

.contact a {
    text-decoration: none;
    color: #fff;
    background-color: #FD7411;
    font-size: 13px;
    font-family: $font-family;
    margin: 30px;
    padding: 6px 15px;
    border-radius: 5px;
}

.input {
    margin-left: -100px;
    border-radius: 30px;
    border: solid 1px;
    padding: 6px 12px;
    &::placeholder {
        font-family: $font-family;
        color: #031332;
    }
    &::-webkit-input-placeholder {
        font-family: FontAwesome;
        font-weight: normal;
        overflow: visible;
        vertical-align: top;
        display: inline-block !important;
        padding-left: 5px;
        padding-top: 2px;
        color: #031332(9, 40%, 60%);
    }
}

.nav-box {
    flex: 1;
    text-align: left;
    ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
        a {
            background-color: #D3D3D3;
            color: #000;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            border-radius: 30px;
            &:hover {
                background-color: #031332;
                color: #fff;
            }
        }
    }
} */

#popular_news {
    margin-left: 110px;
    margin-bottom: 30px;
    font-size: 48px;
}

.banner img {
    width: 85%;
    height: 400px;
    margin: 70px 110px;
    border-radius: 20px;
}

.content1 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.content1 > .img-col-6 > img {
    width: 700px;
    max-height: 380px;
    margin-left: 110px;
    border-radius: 16px;
}

.content1 > .para-col-6 {
    width: 50%;
    padding: 10px;
    margin-right: 110px;
    margin-left: 10px;
    h4 {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 32px;
    }
    h5 {
        margin-left: 10px;
        font-size: 20px;
    }
    p {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
    }
    div {
        margin-top: 1.5%;
        margin-left: 10px;
        a {
            text-decoration: none;
            display: inline-block;
            border-radius: 10px;
            background-color: #2871FF;
            color: #fff;
            text-align: center;
            padding: 10px 0px;
            width: 20%;
        }
    }
}

.content2 {
    margin-left: 100px;
    margin-right: 70px;
    margin-top: 60px;
    padding: 10px;
    display: flex;
}

.content3 {
    margin-left: 100px;
    margin-right: 70px;
    margin-top: -130px;
    padding: 10px;
    display: flex;
}

.first .para-col-4 {
    padding-top: 10px;
}

.second .para-col-4 {
    padding-top: 10px;
}

.third .para-col-4 {
    padding-top: 10px;
}

.first {
    display: flex;
    flex-direction: column;
}

.second {
    display: flex;
    flex-direction: column;
}

.third {
    display: flex;
    flex-direction: column;
}

article img {
    width: 90%;
    height: 300px;
    border-radius: 16px;
    height: 300px;
    width: 420px;
}

article p {
    width: 90%;
    height: 300px;
}

.nav-tag {
    flex: 1;
    text-align: center;
    margin-top: -150px;
    ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
        a {
            background-color: #D3D3D3;
            color: #031332;
            width: 50px;
            height: 50px;
            padding: 5px 10px;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            font-size: 13px;
            font-family: $font-family;
            div a {
                background: none;
            }
            &:hover {
                background-color: #031332;
                color: #fff;
            }
        }
    }
}

/*.business_card {
    display: flex;
    justify-content: space-between;
    color: #031332;
    margin-top: 100px;
    .f {
        width: 50%;
        font-size: 64px;
        text-align: center;
    }
    .s {
        width: 50%;
        ul {
            list-style: none;
        }
    }
}

#phone {
    display: flex;
    text-align: center;
    margin-left: 25px;
    padding: 20px;
}

#mail {
    display: flex;
    text-align: center;
    margin-left: 17px;
   

 padding: 20px;
}

#pin {
    display: flex;
    text-align: center;
    margin-left: 17px;
    padding: 20px;
}

#dna {
    max-width: 100%;
    height: auto;
    opacity: 0.2;
    margin-top: -100px;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    color: #031332;
    margin-top: -150px;
    .fir, .sec, .thi {
        width: 30%;
        text-align: left;
        h3 {
            font-weight: normal;
        }
    }
}

footer {
    height: 25px;
    padding: 20px;
    text-align: center;
    hr {
        color: #031332;
    }
    p {
        padding: 20px;
        color: #031332;
    }
}*/