@import 'config';

* {
  margin: 0;
  padding: 0;
  font-family: $primary-font, $secondary-font, sans-serif;
  color: $white-color;
}

.main {
  min-height: 100vh;
  width: 100%;
  background-color: $white-color;
}

.title {
  height: 190px;
  margin-bottom: 48px;
  position: relative;
  margin: 40px 80px 48px 80px;
  overflow: hidden;

  .header {
    height: 98px;
    margin-bottom: 8px;

    h1 {
      color: $black-color;
      font-family: $heading-font-family;
      font-size: 40px;
      font-weight: 700;
      text-align: start;
    }
  }

  .info {
    height: 84px;
    width: 35%;

    p {
      color: $black-color;
      font-family: $text-font-family;
      font-size: 18px;
      font-weight: 500;
      text-align: start;
    }
  }
}

.content {
  color: $white-color;
  margin-left: 80px;
  margin-right: 80px;
  width: auto;
  height: 524px;
  margin-bottom: 120px;
  position: relative;
  justify-content: space-between;
  display: flex;
}

.form {
  float: left;
  width: 35%;/*456*/
  height: 100%;
  background: $white-color;
  position: relative;
  overflow: hidden;

  input {
    color: $black-color;
    width: 99%;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 24px;
    border: $black-color solid 1px;
    background: $white-color;

    &::placeholder {
      padding-left: 30px;
      color: $black-color;
    }
  }

  #message {
    color: $black-color;
    width: 99%;
    height: 180px;
    border-radius: 8px;
    margin-bottom: 25px;
    border: $black-color solid 1px;
    background: $white-color;

    &::placeholder {
      color: $black-color;
      padding-left: 30px;
      padding-top: 30px;
    }
  }

  button {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: $orange-color;
    color: $white-color;
  }
}

.information {
  float: right;
  width: 60%;/*624*/
  height: 100%;
  background: $black-color;
  margin-right: 0;
  text-align: justify;
  line-height: 25px;
  border-radius: 24px;

  .map {
    width: 100%;
    margin: 32px 32px 40px 32px;
    align-items: center;
    justify-content: space-around;

      img {
        width: 92%;
        height: 280px;
        border-radius: 16px;
        object-fit: cover;
        margin-top: auto;
      }
  }

  .info {
    width: 100%;
    margin-top: 53px;
    margin-left: 38px;
    color: $white-color;
    
    div {
      width: 100% ;
      display: inline-flex;
      text-align: start;

      &.phone {
        img {
          margin-left: 7px;
          margin-right: 7px;
        }
      }
      
      p {
        margin-left: 24px;
      }
    }
  }
}
