@import 'config';

.footer{
    background: $black-color;
    height: 400px;

    .contact_info {
        width: 100%;
        display: flex;
        margin: 160px auto 80px;
    
        h1 {
            flex: 1;
            text-align: center;
            font-size: 64px;
            font-style: normal;
            font-weight: 500;
            margin-left: 100px;
        }
    
        .info {
            flex: 1;
            color: $black-color;
            margin-left: 100px;
    
            div {
                width: 100%;
                display: inline-flex;
                text-align: start;
                margin-bottom: 32px;
    
                &:last-child {
                    margin-bottom: -32px;
                }
    
                &.phone {
                    img {
                        margin-left: 7px;
                        margin-right: 7px;
                    }
                }
    
                p {
                    font-size: 20px;
                    margin-left: 24px;
                }
            }
        }
    }
    
    .footer_image {
        margin-top: 0;
        width: 100%; 
        height: 397px;
        
        img {
          width: 100%;
          height: auto;
          opacity: 0.2;
        }
      }  
    
      .additional_info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        margin-top: 90px;
      
        div {
      
          p {
            color: $black-color;
            font-family: $heading-font-family;
          }
      
          ul, li {
            color: $black-color;
            font-family: $text-font-family;
          }
          ul li {
            list-style:none;
          }
      
          &.info-1 {
            width: 30%;
            margin-left: 300px;
            text-align: left;
          }
      
          &.info-2 {
            width: 30%;
            text-align: left;
          }
      
          &.info-3 {
            width: 30%;
            text-align: left;
          }
        }
      
        .bold {
          font-size: 24px;
          font-weight: 600;
        }
      }
      
      .line {
        width: 100%;
        height: 2px;
        background-color: $black-color;
        margin-top: 80px;
      }
      
      .copyright {
        color: $black-color;
        font-family: $secondary-font;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;
      }
 }