$primary-font: 'Monsterrat', sans-serif;
$secondary-font: 'Urbanist', sans-serif;
$primary-color: #fff;
$secondary-color: #FD7411;
$tertiary-color: #000;


nav {
    margin: 0;
    display: flex;
    height: 62px;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: $primary-color;
  
    .logo {
      width: 100px;
      height: 49px;
      float: left;
      margin-top:  19px;
      color: $tertiary-color;
  
      .span {
        text-align: center;
        font-weight: 700;
      }
    }
  
    .search {
      align-items: center;
      .input {
        width: 300px;
        height: auto;
        border-radius: 30px;
        border: $tertiary-color solid 1px;
        padding: 8px 16px;
        pointer-events: none;
        margin-left: 0px;
  
        &::placeholder {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  
    .nav-bar {
      flex: auto;
      text-align: right;
      margin-right: 24px;
  
      ul li {
        list-style: none;
        display: inline-block;
        position: relative;
        padding: 0 0 0 24px;
  
        a {
          text-decoration: none;
          color: $tertiary-color;
          font-size: 16px;
          font-weight: 600;
          font-family: $primary-font;
        }
  
        &::after {
          content: '';
          width: 0%;
          height: 2px;
          background: $tertiary-color;
          display: block;
          margin: auto;
          transition: 0.3s;
        }
  
        &:hover::after {
          width: 100%;
        }
      }
    }
  
    .contact {
      float: right;
      margin-left: 40px;
      align-items: center;
  
      a {
        width: 132px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        color: $primary-color;
        background-color: $secondary-color;
        font-size: 18px;
        font-weight: 600;
        padding: 8px 24px;
      }
    }
  }


